<div class="container" style="margin:150px">
<button type="button" class="btn btn-danger" (click)="logout()">Log Out</button>

<hr>
  <input class="form-control" [(ngModel)]="text" type="text">
  <hr>
  <button type="button" class="btn btn-success" (click)="addToList()">add to list</button>
  <button type="button" class="btn btn-secondary" (click)="fetchList()">fetch my todo list</button>

  <hr>
  <div *ngFor="let todo of todos ; let i = index" style="margin:20px">
    <button type="button" class="btn btn-danger" (click)="delete(todo._id,i)">delete</button>
    <button type="button" class="btn btn-warning" (click)="patch(todo._id,i)">edit</button>
    {{ todo.text }}


  </div>
</div>
